#cal-content {
    padding: 8px 12px 0 12px;
}

.ex-title {
    font-size: 20px;
}

.cal-table {
    padding: 0 30px 20px 30px;
}

.issue-container {
    display: block;
    height: 100%;
    background-color: rgb(240, 240, 240);
}

.issue-container-title {
    font-size: 16px;
}

.issue-hover {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(220, 255, 220, 0.788);
    .issue-hover-inner {
        width: 100%;
        height: 100%;
        border: thick dashed rgba(113, 243, 102, 0.87);
    }
}

.issue-card {
    margin: 0 4px 10px 4px;
    z-index: 0;
    .issue-card-title {
        font-size: 18px;
        margin-bottom: 8px !important;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 1.2em;
        height: 2.4em;
    }
    .issue-card-text {
        font-size: 12px;
        text-align: end;
        margin-bottom: 0 !important;
    }
}

.issue-selected {
    background-color: rgb(240, 240, 250) !important;
}

.flip-list-move {
    transition: transform 0.5s;
}

.no-move {
    transition: transform 0s;
}

.ghost {
    opacity: 0.5;
    background: #c8ebfb;
}

.list-group {
    height: 100% !important;
    width: 100% !important;
    span {
        display: block;
        min-height: 100%;
    }
}

.list-group-item {
    cursor: move;
}

.list-group-item i {
    cursor: pointer;
}